<div class="d-flex flex-column p-3 gap-3 h-100">
    <h2>NHL Shot Map</h2>

    <div #row class="d-flex flex-wrap flex-grow-1">
        <div class="col-lg-4 col-12 d-flex flex-column mb-3 px-0">

            <div class="d-flex align-middle filters-border m-0 py-2 px-3">
                <h5 class="m-0 text-white">Filters</h5>
            </div>

            <form class="px-3 pb-3 filters-form" [formGroup]="filtersForm" (ngSubmit)="onFormSubmit()">

                <div class="my-2">
                    <label for="teamCode" class="form-label">Team:</label>
                    <select class="form-select form-control" id="teamCode" formControlName="teamCode" (change)="onTeamChange($event)">
                    <option value="" selected hidden></option>
                    <option *ngFor="let team of teams" value="{{team.abbrev}}">{{team.name}}</option>
                    </select>
                </div>

                <div class="mb-2">
                    <label for="shooterPlayerId" class="form-label">Player:</label>
                    <select class="form-select form-control" id="shooterPlayerId" formControlName="shooterPlayerId">
                    <option *ngIf="this.players.length != 0" value="" selected>All</option>
                    <option *ngFor="let player of players" value="{{player.id}}">{{player.name}}</option>
                    </select>
                </div>

                <div class="mb-2">
                    <label for="game" class="form-label">Game:</label>
                    <select class="form-select form-control" id="gameId" formControlName="gameId">
                    <option *ngIf="this.games.length != 0" value="" selected>All</option>
                    <option *ngFor="let game of games" value="{{game.id}}">{{game.teamAway}} vs {{game.teamHome}} ({{game.date}})</option>
                    </select>
                </div>

                <div class="mb-2">
                    <label for="strength" class="form-label">Strength:</label><br>
                    <div class="form-check form-check-inline">
                    <label class="form-check-label" for="All">All</label>
                    <input default class="form-check-input" type="radio" id="All" value="" formControlName="strength">
                    </div>
                    <div class="form-check form-check-inline">
                    <label class="form-check-label" for="PP">PP</label>
                    <input class="form-check-input" type="radio" id="PP" value="PP" formControlName="strength">
                    </div>
                    <div class="form-check form-check-inline">
                    <label class="form-check-label" for="PK">PK</label>
                    <input class="form-check-input" type="radio" id="PK" value="PK" formControlName="strength">
                    </div>
                    <div class="form-check form-check-inline">
                    <label class="form-check-label" for="EVEN">EVEN</label>
                    <input class="form-check-input" type="radio" id="EVEN" value="EVEN" formControlName="strength">
                    </div>
                </div>

                <div class="mb-2">
                    <label for="period" class="form-label">Period:</label><br>
                    <div class="form-check form-check-inline">
                    <label class="form-check-label" for="All">All</label>
                    <input default class="form-check-input" type="radio" id="All" value="" formControlName="period">
                    </div>
                    <div class="form-check form-check-inline">
                    <label class="form-check-label" for="1">1</label>
                    <input class="form-check-input" type="radio" id="1" value="1" formControlName="period">
                    </div>
                    <div class="form-check form-check-inline">
                    <label class="form-check-label" for="2">2</label>
                    <input class="form-check-input" type="radio" id="2" value="2" formControlName="period">
                    </div>
                    <div class="form-check form-check-inline">
                    <label class="form-check-label" for="3">3</label>
                    <input class="form-check-input" type="radio" id="3" value="3" formControlName="period">
                    </div>
                    <div class="form-check form-check-inline">
                    <label class="form-check-label" for="OT">OT</label>
                    <input class="form-check-input" type="radio" id="OT" value="4" formControlName="period">
                    </div>
                </div>

                <div class="mb-2">
                    <label for="shooterLeftRight" class="form-label">Handedness:</label><br>
                    <div class="form-check form-check-inline">
                    <label class="form-check-label" for="L/R">L/R</label>
                    <input default class="form-check-input" type="radio" id="L/R" value="" formControlName="shooterLeftRight">
                    </div>
                    <div class="form-check form-check-inline">
                    <label class="form-check-label" for="L">L</label>
                    <input class="form-check-input" type="radio" id="L" value="L" formControlName="shooterLeftRight">
                    </div>
                    <div class="form-check form-check-inline">
                    <label class="form-check-label" for="R">R</label>
                    <input class="form-check-input" type="radio" id="R" value="R" formControlName="shooterLeftRight">
                    </div>
                </div>

                <div class="mb-2">
                    <div class="form-check form-switch">
                    <label class="form-check-label" for="event">Goals only</label>
                    <input class="form-check-input" type="checkbox" role="switch" value="GOAL" id="event" formControlName="event">
                    </div>
                </div>

                <div class="d-flex mt-2">
                    <button type="submit" class="btn btn-primary me-3 w-25">Filter</button>
                    <button type="button" class="text-black btn btn-outline-primary w-25" (click)="resetForm()">Reset</button>
                </div>
            </form>

            <span class="my-2">Number of shots: <b>{{numberShots}}</b></span>

        </div>

        <div class="col-lg-8 col-12 d-flex justify-content-center mb-3">
            <div #column [class.disabled-plot]="!dataReady"
                [style.width]="GRAPH_WIDTH!=null ? GRAPH_WIDTH_TEXT : '100%'"
                [style.height]="GRAPH_HEIGHT!=null ? GRAPH_HEIGHT_TEXT : null">
                <div *ngIf="plotReady">
                    <div *ngIf="!dataReady" class="position-absolute pe-none" [style.width]="GRAPH_WIDTH_TEXT" [style.height]="GRAPH_HEIGHT_TEXT">
                        <div class="d-flex col h-100 justify-content-center align-items-center">
                        <div class="spinner-border" id="spinner1" role="status"></div>
                        </div>
                    </div>

                    <app-shot-plot [loading]="!dataReady" [height]="GRAPH_HEIGHT" [width]="GRAPH_WIDTH" [data]="data"></app-shot-plot>
                </div>
            </div>
        </div>
    </div>
</div>