:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 20px;
}

#spinner1 {
    width: 5rem;
    height: 5rem;
    z-index: 1000;
}

div {
    --color: rgb(133, 151, 176);

    .filters-form {
        border: 3px solid var(--color);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .filters-border {
        background-color: var(--color);
        border-top: 3px solid var(--color);
        border-right: 3px solid var(--color);
        border-left: 3px solid var(--color);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}
