<h3 class="mb-4">NHL Shot Map</h3>
<div class="container-fluid d-flex flex-fill p-0">
  <div #row class="row w-100 m-0">

    <div class="col-lg-4 d-flex flex-column mb-3 px-0">
      <div class="d-flex align-middle filters-border m-0 py-2 px-3">
        <h5 class="m-0">Filters</h5>
      </div>

      <form class="px-3 pb-3 filters-form" [formGroup]="filtersForm" (ngSubmit)="onFormSubmit()">

        <div class="my-2">
          <label for="teamId" class="form-label">Team:</label>
          <select class="form-select form-control" id="teamId" formControlName="teamId" (change)="loadPlayers($event); loadGames($event);">
            <option value="" selected hidden></option>
            <option *ngFor="let team of teams" value="{{team.id}}">{{team.name}}</option>
          </select>
        </div>

        <div class="mb-2">
          <label for="playerId" class="form-label">Player:</label>
          <select class="form-select form-control" id="playerId" formControlName="playerId">
            <option value="" selected hidden></option>
            <option *ngFor="let player of players" value="{{player.id}}">{{player.name}}</option>
          </select>
        </div>

        <div class="mb-2">
          <label for="game" class="form-label">Game:</label>
          <select class="form-select form-control" id="gameId" formControlName="gameId">
            <option value="" selected hidden></option>
            <option *ngFor="let game of games" value="{{game.id}}">{{game.teamAway}} vs {{game.teamHome}} ({{game.date}})</option>
          </select>
        </div>

        <div class="mb-2">
          <label for="strength" class="form-label">Strength:</label><br>
          <div class="form-check form-check-inline">
            <label class="form-check-label" for="All">All</label>
            <input default class="form-check-input" type="radio" id="All" value="" formControlName="strength">
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label" for="PP">PP</label>
            <input class="form-check-input" type="radio" id="PP" value="PP" formControlName="strength">
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label" for="EV">EV</label>
            <input class="form-check-input" type="radio" id="EV" value="EV"  formControlName="strength">
          </div>
        </div>

        <div class="mb-2">
          <div class="form-check form-switch">
            <label class="form-check-label" for="eventTypeId">Goals only</label>
            <input class="form-check-input" type="checkbox" role="switch" value="GOAL" id="eventTypeId" formControlName="eventTypeId">
          </div>
        </div>

        <!-- <div class="mb-2">
          <div class="form-check form-switch">
            <label class="form-check-label" for="defensiveSide">Show defensive zone shots (blue)</label>
            <input class="form-check-input" type="checkbox" role="switch" id="defensiveSide" formControlName="defensiveSide">
          </div>
        </div> -->

        <div class="d-flex mt-3">
          <button type="submit" class="btn btn-primary me-3 w-25">Filter</button>
          <button type="button" class="text-black btn btn-outline-primary w-25" (click)="resetForm()">Reset</button>
        </div>
      </form>
    </div>

    <div class="col d-flex justify-content-center p-0 w-100 mb-3">
      <div #column [class.disabled-plot]="!dataReady"
        [style.width]="GRAPH_WIDTH!=null ? GRAPH_WIDTH_TEXT : '100%'"
        [style.height]="GRAPH_HEIGHT!=null ? GRAPH_HEIGHT_TEXT : null">
        <div *ngIf="plotReady">
          <div *ngIf="!dataReady" class="position-absolute pe-none" [style.width]="GRAPH_WIDTH_TEXT" [style.height]="GRAPH_HEIGHT_TEXT">
            <div class="d-flex col h-100 justify-content-center align-items-center">
              <div class="spinner-border" id="spinner1" role="status"></div>
            </div>
          </div>
          <app-shot-plot [loading]="!dataReady" [height]="GRAPH_HEIGHT" [width]="GRAPH_WIDTH" [data]="data"></app-shot-plot>
        </div>
      </div>

  </div>
</div>
